<html style="height: 100%; margin: 0;">
  <body style="height: 100%; margin: 0; padding: 0; display: flex; align-items: center; justify-content: center; background-color: #f0f0f0;">
    <div style="text-align: center;">
      <h1 style="font-size: 2em; margin: 0.5em 0;">The Server Operating System: {{ ansible_distribution }}</h1>
      <h1 style="font-size: 2em; margin: 0.5em 0;">The Server Host Name: {{ ansible_hostname }}</h1>
      <h1 style="font-size: 2em; margin: 0.5em 0;">The Server User ID: {{ ansible_user_id }}</h1>
      <h1 style="font-size: 2em; margin: 0.5em 0;">DevOps Tutor: {{ tutor }}</h1>

    </div>
  </body>
</html>
